export(aesInput)
export(ai.aes)
export(ai.column)
export(ai.values)
export(ai.flatten)
export(ai.scales)
export(ai.subset)
export(aesInputDemo)


import("shiny")
importFrom("glue", "glue", "double_quote")
importFrom("magrittr", "%>%", "%<>%")
importFrom("rlang", "%||%")

